
.section1 {
    background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg');
    background-color: #f1f2f2;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    color: white;
}

#imageContainer, #recipeVideoContainer  {
    background-color: rgba(233, 229, 222, 0.939);
}

#stepsContainer {
    background-color: rgba(250, 249, 248, 0.818);
}

.heading {
    font-family: Comic Sans MS, Comic Sans, cursive	;
}

#stepList, #ingredientList {
    font-family: Didot, serif;
}

@media(max-width:768px) {
    .recipeVideo  {
        width: 100%;
        height: auto;
    }
}
